<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/ambiental"></ion-back-button>
    </ion-buttons>
    <ion-title>Outorgas</ion-title>       
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="listaClientesOutorgas.length > 0; else semOutorgas">
      <app-lista-outorga-item 
      *ngFor="let outorga of listaClientesOutorgas" 
      [outorga]="outorga" 
      (update)="atualizar($event)"
      (delete)="deletar($event)"></app-lista-outorga-item>
    </ng-container>
    <ng-template #semOutorgas>
      <ion-item lines="none">Sem Outorgas cadastradas...</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="exportPdf($event)" routerDirection="forward">
      <ion-icon name="print"></ion-icon>
    </ion-fab-button><br>
    <ion-fab-button [routerLink]="['/menu/cadastroOutorga']" routerDirection="forward">
    </ion-fab-button>
  </ion-fab>
  <ion-fab
    vertical="bottom"
    horizontal="end"

    slot="fixed"
  >

    <ion-fab-button
      [routerLink]="['/menu/cadastroOutorga']"
      routerDirection="forward"
    >

      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>