<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/ambiental"></ion-back-button>
    </ion-buttons>
    <ion-title>L. Ambientais</ion-title>
    <!-- <app-logout-button
      slot="end"
      menu="main-menu"
    ></app-logout-button> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="listaLaCliente.length > 0; else semcadastrosDeCreditos">
      <app-lista-credito-item
        *ngFor="let cadastro of listaLaCliente"
        [licencaAmbiental]="licenca"
        (update)="atualizar($event)"
        (delete)="deletar($event)"></app-lista-credito-item>
    </ng-container>
    <ng-template #semLicencasAmbientais>
      <ion-item lines="none">Sem Licenças Ambientais cadastradas...</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="exportPdf($event)" routerDirection="forward">
      <ion-icon name="print"></ion-icon>
    </ion-fab-button><br>

    <ion-fab-button [routerLink]="['/menu/ambiental/CadastroLicencaAmbiental']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>