<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/ambiental"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro Crédito Financeiro</ion-title>    
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="usuarioService.admin">
  <ion-list>
    <ng-container *ngIf="listaCreditoPrincipal.length > 0; else semcadastrosDeCreditos">
      <app-lista-credito-item
        *ngFor="let cadastro of listaCreditoPrincipal"
        [cadastroCreditoFinanceiro]="cadastro"
        (update)="atualizar($event)"
        (delete)="deletar($event)"></app-lista-credito-item>
    </ng-container>
    <ng-template #semcadastrosDeCreditos>
      <ion-item lines="none">Sem Cadastro de Crédito Financeiro...</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed">
    <ion-fab-button
      (click)="openModal()"
      routerDirection="forward">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button><br>
    <ion-fab-button
      [routerLink]="['/menu/ambiental/cadastroCredito']"
      routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="!usuarioService.admin">
  <ion-list *ngIf="cadastrosDeCreditos$ | async as cadastrosDeCreditos">
    <ng-container *ngIf="cadastrosDeCreditos.length > 0; else semcadastrosDeCreditos">
      <app-lista-credito-item
        *ngFor="let cadastro of cadastrosDeCreditos"
        [cadastroCreditoFinanceiro]="cadastro"
        (view)="viewCre($event)"
        ></app-lista-credito-item>
    </ng-container>
    <ng-template #semcadastrosDeCreditos>
      <ion-item lines="none">Sem Cadastros de crédito...</ion-item>
    </ng-template>
  </ion-list>

</ion-content>