<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/outorga"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <!-- <app-logout-button slot="end" menu="main-menu"></app-logout-button> -->
  </ion-toolbar>
</ion-header>
<ion-item *ngIf="clientes.length === 0" style="position: absolute; margin-top: 20%;" lines="none">Outorgas são vinculadas a clientes, não encontramos nenhum cliente cadastrado, cadastre um cliente e tente novamente!</ion-item>
<ion-content padding *ngIf="clientes.length > 0">
  <form [formGroup]="outorgaForm" (submit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="floating" color="primary">Cliente</ion-label>
      <ion-select interface="popover" #selectCliente formControlName="idCliente">
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-note
      slot="start"
      color="danger"
      *ngIf="idCliente.hasError('required')"
    >
      Cliente Obrigatório!
    </ion-note>
    <ion-item>
      <ion-label position="floating" color="primary">Descrição</ion-label>
      <ion-input
        formControlName="descricao"
        type="text"
        color="primary"
        autoFocus="true"
      ></ion-input>
      <ion-note slot="end" color="danger" *ngIf="descricao.dirty && descricao.hasError('required')">
        Descrição Obrigatória!
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="descricao.dirty && descricao.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Vencimento</ion-label>
      <ion-input
        type="date"
        placeholder="Vencimento"
        color="primary"
        formControlName="dataDeVencimento"
      ></ion-input>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="dataDeVencimento.dirty && dataDeVencimento.hasError('required')"
      >
        Vencimento Obrigatório!
      </ion-note>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="
          dataDeVencimento.dirty &&
          (dataDeVencimento.hasError('minlength') || dataDeVencimento.hasError('maxlength'))
        "
      >
        Vencimento inválido!
      </ion-note>
    </ion-item>
    <!-- inicio arquivo -->
    <ion-card [@tamanhoArquivo]="liberaArquivo ? 'comArquivo' : 'semArquivo'">
      <ion-grid >
        <ion-row align-items-center>
          <ion-col
            text-center
            class="teste"
          >
          <ion-card
            text-center
            *ngIf="liberaArquivo"
          >
            <ion-card-header>
              <ion-card-title style="font-size: 15px;">
                Arquivo selecionado:
                <a [href]="urlFoto" target="_blank"><b>{{ fileName }}</b></a>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="fileUpload" text-center >
        <div *ngIf="uploadPercent | async as pct">
          Progress: {{ pct | number }}%
          <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
        </div>
        <div [@marginBotao]="liberaArquivo ? 'comArquivo' : 'semArquivo'">
          <label for="uploadBtn" class="btn">Escolher Arquivo</label>
          <input
            class="upload"
            id="uploadBtn"
            type="file"
            (change)="openGalery($event.target.files)"
          >
        </div>
      </div>
    </ion-card>
    <!-- fim arquivo -->
    <ion-button expand="full" type="submit" *ngIf="outorgaForm.valid && liberaArquivo">
      {{ botaoTitle }}
    </ion-button>
    <ion-button
      expand="full"
      [disabled]="true"
      *ngIf="
        (!outorgaForm.valid && !liberaArquivo) ||
        (!outorgaForm.valid && liberaArquivo) ||
        (outorgaForm.valid && !liberaArquivo)
      "
    >
      {{ botaoTitle }}
    </ion-button>
  </form>
</ion-content>
