<!-- <h3>Adicione um Arquivo</h3>
<div class="file">
  <ion-label class="file-label">
    <ion-input class="file-input" type="file" (change)="onDrop($event.target.files)"></ion-input>
  </ion-label>
</div>
<div *ngFor="let file of files">
  <app-upload-task [file]="file"></app-upload-task>
</div> -->
<ion-card text-center>
  <ion-card-header>
    <ion-card-title style="font-size: 20px;">Adicione um Arquivo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="fileUpload file">
      <label for="uploadBtnArq" class="file-label" *ngIf="!(files.length > 0)">
        Adicionar
      </label>
      <input
        id="uploadBtnArq"
        class="upload file-input"
        type="file"
        (change)="onDrop($event.target.files)"
      />
    </div>
    <div *ngFor="let file of files">
      <app-upload-task [file]="file"></app-upload-task>
    </div>
  </ion-card-content>
</ion-card>
