<ion-header class="header">
  <ion-toolbar color="primary">
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-title>Home</ion-title>
    <app-logout-button
      slot="end"
      menu="main-menu"
    ></app-logout-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col
        text-center
      >
      <ion-chip class="rgba3" style="background: #00331e; height:45px;">
          <ion-avatar style="height: 35px; width: 35px;">
            <img [src]="urlFoto" *ngIf="urlFoto">
            <img src="../../../assets/img/avatar.svg" *ngIf="!urlFoto">
          </ion-avatar>
          <ion-label>{{nomeUser}}

            <!-- <ion-chip (click)="linkAlterarUsuario()" style="background: white; color: #00643a; border-radius: 80%">
                <ion-label><ion-icon slot="icon-only" name="brush"></ion-icon></ion-label>
            </ion-chip> -->
          </ion-label>
          <ion-avatar (click)="linkAlterarUsuario()" style="height: 35px; width: 35px;">
            <img src="../../../assets/img/settings.svg">
          </ion-avatar>
      </ion-chip>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
      <ion-col text-center style="width:100%; background: #a2bd31;" (click)="linkCliente()">
        <ion-button
          shape="round"
          size="large"
          fill="clear"
          style="color: #00643a;"
        >
          <ion-icon
            slot="start"
            name="create"
          ></ion-icon>
          Cliente
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
       <ion-col text-center style="width:100%; background-color: #00643a" (click)="linkOutorga()">
        <ion-button
          size="large"
          shape="round"
          fill="clear"
          style="color: white;"
        >
          <ion-icon
            slot="start"
            name="albums"
          ></ion-icon>
          Outorga
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
      <ion-col text-center style="width:100%; background-color: #001a0f" (click)="linkAmbiental()">
        <ion-button
          shape="round"
          id="btn-final"
          size="large"
          fill="clear"
          style="color: white;"
        >
          <ion-icon
            slot="start"
            name="flower"
          ></ion-icon>
          Ambiental
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  <img src="../../../../assets/img/grama.png" alt="" style="margin-bottom: 0px;">
