<ion-header class="header">
  <ion-toolbar color="primary">
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-title>Home</ion-title>
    <app-logout-button
      slot="end"
      menu="main-menu"
    ></app-logout-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col
        text-center
      >
      <ion-chip class="rgba3">
          <ion-avatar>
            <img src="../../../assets/img/avatar.svg">
          </ion-avatar>
          <ion-label>{{nomeUser}}</ion-label>
      </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-button
          expand="block"
          (click)="linkCliente()"
          size="large"

        >
          <ion-icon
            slot="start"
            name="create"
          ></ion-icon>
          Cliente
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row align-items-center>
       <ion-col text-center>
        <ion-button
          expand="block"
          (click)="linkOutorga()"
          size="large"

        >
          <ion-icon
            slot="start"
            name="albums"
          ></ion-icon>
          Outorga
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-button
          expand="block"
          (click)="linkAmbiental()"
          size="large"

        >
          <ion-icon
            slot="start"
            name="flower"
          ></ion-icon>
          Ambiental
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
