<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      
      <ion-col>
      <ion-title>
      Dados de Filtro
      </ion-title>
      </ion-col>
      
      
      <ion-buttons end>
      <ion-button (click)="closeModal()" class="fechar">
      <ion-icon slot="icon-only" name="close"git></ion-icon>
      </ion-button>
      </ion-buttons>
      
      
      </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary">Cliente</ion-label>
              <ion-select (ionChange)="obter_id_cliente($event.target.value);">
                <ion-select-option *ngFor="let cliente of clientes" [value]= "cliente.id">
                  {{cliente.nome}}
                </ion-select-option>
              </ion-select>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label position="floating" color="primary">Intervalo de Data de Vencimento</ion-label>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col>          
          <ion-datetime placeholder="Data Inicial" displayFormat="DD/MM/YYYY" name="dt_inicial"
          (ionChange)="obter_dt_vescimento_cliente_ini($event.target.value);"></ion-datetime>
        </ion-col>

        <ion-col>          
          <ion-datetime placeholder="Data Inicial" displayFormat="DD/MM/YYYY"
          (ionChange)="obter_dt_vescimento_cliente_fim($event.target.value);" ></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-button expand="block" (click)="relatorio_da()" >
      <ion-icon name="print"></ion-icon> 
    </ion-button>

</ion-content>
<img src="../../../../assets/img/grama.png" alt="" style="margin-bottom: 0px;">