<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/ "></ion-back-button>
    </ion-buttons>
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-title>Clientes</ion-title>
    <!-- <app-logout-button
      slot="end"
      menu="main-menu"
    ></app-logout-button> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="clientes$ | async as clientes">
    <ng-container *ngIf="clientes.length > 0; else semClientes">
      <app-lista-cliente-item
        *ngFor="let cliente of clientes"
        [cliente]="cliente"
        (update)="atualizar($event)"
        (delete)="deletar($event)"
      ></app-lista-cliente-item>
    </ng-container>
    <ng-template #semClientes>
      <ion-item lines="none">Sem clientes cadastrados...</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button
      [routerLink]="['/menu/cadastroCliente']"
      routerDirection="forward"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
