<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/ambiental"></ion-back-button>
    </ion-buttons>
    <ion-title>D. Ambientais</ion-title>
    <!-- <app-logout-button
      slot="end"
      menu="main-menu"
    ></app-logout-button> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  <ng-container *ngIf="listaDaCliente.length > 0; else semDas">
    <app-lista-credito-item
      *ngFor="let cadastro of listaDaCliente"
      [cadastroCreditoFinanceiro]="cadastro"
      (update)="atualizar($event)"
      (delete)="deletar($event)"></app-lista-credito-item>
  </ng-container>
    <ng-template #semDas>
      <ion-item lines="none">Sem Declarações Ambientais cadastradas...</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="exportPdf($event)" routerDirection="forward">
      <ion-icon name="print"></ion-icon>
    </ion-fab-button><br>
    <ion-fab-button [routerLink]="['/menu/ambiental/CadastroDeclaracaoAmbiental']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>