<ion-item-sliding #sliding >
  <ion-item (onload)="sliding.open()">
    <ion-button (click)="sliding.open(); abrir()" fill="clear" *ngIf="!clicado">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
  </ion-button>
  <ion-button (click)="sliding.close(); fechar()" fill="clear" *ngIf="clicado">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
  </ion-button>
  {{cadastroAmbientalRural.nomeCliente}} ° {{ cadastroAmbientalRural.descricao }}
</ion-item>
  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="delete.emit(cadastroAmbientalRural); sliding.close()" *ngIf="admin">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option color="tertiary" (click)="update.emit(cadastroAmbientalRural); sliding.close()" *ngIf="admin">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
    <ion-item-option color="tertiary" (click)="view.emit(cadastroAmbientalRural); sliding.close()" *ngIf="!admin">
      <ion-icon slot="icon-only" name="eye"></ion-icon>
    </ion-item-option>
    <ion-item-option color="primary" (click)="openLink(); sliding.close()" *ngIf="!admin">
      <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
