<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-icon
      slot="start"
      name="person"
      color="primary"
    ></ion-icon>
    <ion-input
      type="text"
      placeholder="Nome"
      color="primary"
      autoFocus="true"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon
      slot="start"
      name="key"
      color="primary"
    ></ion-icon>
    <ion-input
      placeholder="Cpf"
      color="primary"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon
      slot="start"
      name="logo-usd"
      color="primary"
    ></ion-icon>
    <ion-input
      placeholder="Patrimônio"
      color="primary"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon
      slot="start"
      name="cash"
      color="primary"
    ></ion-icon>
    <ion-input
      placeholder="Produtividade Agropecuária"
      color="primary"
    ></ion-input>
  </ion-item>
  <ion-item
    lines="none"
    slot="start"
  >
    <ion-button
      color="primary"
      size="medium"
    >
      <ion-icon
        slot="icon-only"
        name="camera"
      ></ion-icon>
      <ion-label padding>Adicionar Foto Pessoal</ion-label>
    </ion-button>
  </ion-item>
  <ion-button
    expand="full"
    type="submit"
  >
    Criar
  </ion-button>
</ion-content>
