<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/cliente"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <!-- <app-logout-button slot="end" menu="main-menu"></app-logout-button> -->
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="clienteForm" (submit)="onSubmit()" novalidate>
    <!-- inicio arquivo -->
    <ion-card [@tamanhoArquivo]="liberaArquivo ? 'comArquivo' : 'semArquivo'">
      <ion-grid >
        <ion-row align-items-center>
          <ion-col
            text-center
            class="teste"
          >
          <ion-card
            text-center
            *ngIf="liberaArquivo"
          >
            <ion-card-header>
              <ion-avatar>
                <img [src]="downloadUrl | async" *ngIf="downloadUrl | async">
                <img src="../../../assets/img/avatar.svg" *ngIf="!liberaArquivo">
              </ion-avatar>
            </ion-card-header>
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="fileUpload" text-center >
        <div *ngIf="uploadPercent | async as pct">
          Progress: {{ pct | number }}%
          <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
        </div>
        <div [@marginBotao]="liberaArquivo ? 'comArquivo' : 'semArquivo'">
          <label for="uploadBtn" class="btn">Escolher Foto</label>
          <input
            class="upload"
            id="uploadBtn"
            type="file"
            (change)="openGalery($event.target.files)"
          >
        </div>
      </div>
    </ion-card>
    <!-- fim arquivo -->
    <ion-item>
      <ion-label position="floating" color="primary">Nome</ion-label>
      <ion-input
        formControlName="nome"
        type="text"
        color="primary"
        autoFocus="true"
      ></ion-input>
    </ion-item>
    <ion-note slot="start" color="danger" *ngIf="nome.dirty && nome.hasError('required')">
      Nome Obrigatório!
    </ion-note>
    <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('minlength')">
      Mínimo 3 caracteres
    </ion-note>
    <ion-item>
      <ion-label position="floating" color="primary">CPF/CNPJ</ion-label>
       <ion-input
         type="text"
         name="cpf"
         formControlName="cpf"
         [brmasker]="{person: true}"
         color="primary"
       ></ion-input>
    </ion-item>
    <ion-note
      slot="start"
      color="danger"
      *ngIf="cpf.dirty && cpf.hasError('required')"
    >
      Cpf Obrigatório!
    </ion-note>
    <ion-note
      slot="start"
      color="danger"
      *ngIf="cpf.dirty && (cpf.hasError('minlength') || cpf.hasError('maxlength'))"
    >
      Cpf Inválido!
    </ion-note>
    <ion-item>
      <ion-label position="floating" color="primary">Patrimônio <span style="font-size: 12px">(R$) Real</span></ion-label>
      <ion-input formControlName="patrimonio" color="primary" [brmasker]="{money: true, thousand: ',',  decimalCaracter: '.', decimal: '3'}"></ion-input>
    </ion-item>
    <ion-note
      slot="end"
      color="danger"
      *ngIf="patrimonio.dirty && patrimonio.hasError('required')"
    >
      Patrimônio Obrigatório!
    </ion-note>
    <ion-note
      slot="end"
      color="danger"
      *ngIf="
        patrimonio.dirty && (patrimonio.hasError('minlength'))
      "
    >
      Patrimônio Inválido!
    </ion-note>
    <ion-item>
      <ion-label position="floating" color="primary">Produtividade Agropecuária</ion-label>
      <ion-input
        formControlName="pdtvAgro"
        color="primary"
      ></ion-input>
    </ion-item>
    <ion-note slot="end" color="danger" *ngIf="pdtvAgro.dirty && pdtvAgro.hasError('required')">
      Prod.Agropecuária Obrigatória!
    </ion-note>
    <ion-note
      slot="end"
      color="danger"
      *ngIf="pdtvAgro.dirty && (pdtvAgro.hasError('minlength') || pdtvAgro.hasError('maxlength'))"
    >
      Prod.Agropecuária Inválida!
    </ion-note>
    <!-- inicio imagem -->
    <!-- <ion-card text-center *ngIf="!isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title style="font-size: 20px;">Adicione uma Foto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="fileUpload">
          <label for="uploadBtn">Adicionar</label>
          <input
            id="uploadBtn"
            type="file"
            class="upload"
            (change)="uploadFile($event.target.files)"
          />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card text-center *ngIf="isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title style="font-size: 15px;">
          Imagem selecionada:
          <b>{{ fileName }}</b>
        </ion-card-title>
      </ion-card-header>
    </ion-card> -->

    <!-- fim imagem -->
    <!-- inicio arquivo -->
    <!-- <ion-card
      text-center
      *ngIf="!isUploading2 && !isUploaded2"
    >
      <ion-card-header>
        <ion-card-title style="font-size: 20px;">Adicione um Arquivo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="fileUpload">
          <label for="uploadBtn2">Adicionar</label>
          <input
            id="uploadBtn2"
            type="file"
            class="upload"
            (change)="uploadFile2($event.target.files)"
          >
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card
      text-center
      *ngIf="isUploading2 && !isUploaded2"
    >
      <ion-card-header>
        <ion-card-title style="font-size: 15px;">
          Arquivo selecionado:
          <b>{{ fileName2 }}</b>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="percentage2 | async as pct">
          Progress: {{ pct | number }}%
          <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
        </div>
        <div *ngIf="snapshot2 | async as snap">
          File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
          {{ snap.bytesTransferred | fileSizePipe }}
          <div *ngIf="snapshot2 && snap.bytesTransferred != snap.totalBytes">
            <ion-button
              color="warning"
              size="small"
              (click)="task2.pause()"
              class="button is-warning"
            >
              Pause
            </ion-button>
            <ion-button
              size="small"
              (click)="task2.resume()"
              class="button is-info"
            >
              Resume
            </ion-button>
            <ion-button
              color="danger"
              size="small"
              (click)="task2.cancel()"
              class="button is-danger"
            >
              Cancel
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card
      text-center
      *ngIf="!isUploading2 && isUploaded2"
    >
      <ion-card-header>
        <ion-card-title style="font-size: 20px;">Arquivo Adicionado!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="UploadedFileURL2 | async as url">
          <img [src]="url">
        </div>
        File Size: {{ fileSize | fileSizePipe }}
      </ion-card-content>
    </ion-card> -->
    <!-- fim arquivo -->
    <ion-button expand="full" type="submit" *ngIf="clienteForm.valid && liberaArquivo" style="margin-top: 15%;">
      {{ botaoTitle }}
    </ion-button>
    <ion-button
    style="margin-top: 15%;"
      expand="full"
      [disabled]="true"
      *ngIf="
        (!clienteForm.valid && !liberaArquivo) ||
        (!clienteForm.valid && liberaArquivo) ||
        (clienteForm.valid && !liberaArquivo)
      "
    >
      {{ botaoTitle }}
    </ion-button>
  </form>
</ion-content>
