<ion-content>
<ion-header class="header" style="height: 30px;" >
  <ion-toolbar color="primary">
    <app-menu-toogle
      slot="start"
      menu="main-menu"
    ></app-menu-toogle>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ambiental</ion-title>
  </ion-toolbar>
 
</ion-header>
<ion-grid>
  <ion-row align-items-center>
    <ion-col
      text-center
    >
    <ion-chip class="rgba3" style="background: #004d2d; margin-top: 25px; cursor: none;">
        <ion-label>Cadastros Ambientais</ion-label>
    </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>

<!--#a2bd31-->
<!--#00643a-->

  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
       <ion-col text-center style="width:100%; background: #3CB371 ;" (click)="linkOutorga()">
        <ion-button
          shape="round"
          size="large"
          class="btn-ambiental"
          fill="clear"
          style="color: white;"
        >
          <ion-icon
            slot="start"
            name="browsers"
          ></ion-icon>
          Outorga
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
       <ion-col text-center style="width:100%; background: #2E8B57;" (click)="linkLA()">
        <ion-button
          shape="round"
          size="large"
          class="btn-ambiental"
          fill="clear"
          style="color: white;"
        >
          <ion-icon
            slot="start"
            name="albums"
          ></ion-icon>
          Licença Ambiental
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
      <ion-col text-center style="width:100%; background: #00643a;" (click)="linkDA()">
        <ion-button
          size="large"
          class="btn-ambiental"
          shape="round"
          fill="clear"
          style="color: white;"
        >
          <ion-icon
            slot="start"
            name="folder"
          ></ion-icon>
          Declaração Ambiental
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
      <ion-col text-center style="width:100%; background: #006453;" (click)="linkCAR()">
        <ion-button
          shape="round"
          size="large"
          class="btn-ambiental"
          fill="clear"
          style="color: white;"
        >
          <ion-icon
            slot="start"
            name="paper"
          ></ion-icon>
          Cadastro Ambiental Rural
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin:0px; padding: 0px;">
    <ion-row align-items-center>
      <ion-col text-center style="width:100%; background: #001a0f;" (click)="linKCredito()">
        <ion-button
          shape="round"
          size="large"
          class="btn-ambiental"
          fill="clear"
          style="color: white;">
          <ion-icon
            slot="start"
            name="paper">
          </ion-icon>
          Cadastro Crédito Financeiro
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<img src="../../../../assets/img/grama.png" alt="" style="margin-bottom: 0px;">



