<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Dados Pessoais</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list id="impostoDeRenda" *ngIf="impostoDeRenda$ | async as impostoDeRenda" style="display:flex; align-items:center;">
      <ng-container *ngIf="impostoDeRenda.length > 0; else semImpostoDeRenda">
        <h4 style="margin-left:10px;">I. de renda</h4>
        <ion-item slot="end" style="margin: 0; padding: 0; width: 160px; font-size: 65%;" lines="none">
          <label for="uploadBtnUpdateImpostoDeRenda" class="btnAzul"><ion-icon slot="end" name="create"></ion-icon></label>
          <input
            class="upload"
            id="uploadBtnUpdateImpostoDeRenda"
            type="file"
            (change)="openGaleryImpostoDeRendaUpdate($event.target.files, impostoDeRenda[0].id)"
          >
        </ion-item>

          <ion-button color="primary" (click)="openLink(impostoDeRenda[0].impostoDeRenda);" style="margin-top: 1px;">
            <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
          </ion-button>

      </ng-container>
      <ng-template #semImpostoDeRenda>
        <h1>Imposto de renda</h1>
        <ion-item slot="end"  lines="none">
          <label for="uploadBtnCreateImpostoDeRenda" class="btn"><ion-icon slot="end" name="add"></ion-icon></label>
          <input
            class="upload"
            id="uploadBtnCreateImpostoDeRenda"
            type="file"
            (change)="openGaleryImpostoDeRendaCreate($event.target.files)"
          >
        </ion-item>

      </ng-template>
    </ion-list>

    <ion-list id="cnh" *ngIf="cnh$ | async as cnh" style="display:flex; align-items:center;">
      <ng-container *ngIf="cnh.length > 0; else semCnh">
        <h3 style="margin-left:10px;">CNH</h3>
        <ion-item slot="end" style="margin: 0; padding: 0; width: 160px; font-size: 65%;" lines="none">
          <label for="uploadBtnUpdateCnh" class="btnAzul"><ion-icon slot="end" name="create"></ion-icon></label>
          <input
            class="upload"
            id="uploadBtnUpdateCnh"
            type="file"
            (change)="openGaleryCnhUpdate($event.target.files, cnh[0].id)"
          >
        </ion-item>

          <ion-button color="primary" (click)="openLink(cnh[0].cnh);" style="margin-top: 1px;">
            <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
          </ion-button>

      </ng-container>
      <ng-template #semCnh>
        <h1>CNH</h1>
        <ion-item slot="end"  lines="none">
          <label for="uploadBtnCreateCnh" class="btn"><ion-icon slot="end" name="add"></ion-icon></label>
          <input
            class="upload"
            id="uploadBtnCreateCnh"
            type="file"
            (change)="openGaleryCnhCreate($event.target.files)"
          >
        </ion-item>

      </ng-template>
    </ion-list>
</ion-content>
