#img-logo {
  padding-top: 7%;
}
ion-note {
  font-size: 13px;
}
ion-button {
  margin-top: 5%;
}

.login-menu{
  font-family: 'imperfecta';
  background-color: rgba(255,255,255,0.8);
  --ion-background-color: transparent;

}
