<ion-content padding color="white">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col
        size-sm="8"
        size-md="4"
        size-lg="3"
        size-xl="3"
      >
        <div class="login-menu" [@movDiv]="true">
          <h1 text-center>
            <ion-img
              src="../../../assets/img/logo.png"
              id="img-logo"
            ></ion-img>
          </h1>
          <form
            [formGroup]="loginForm"
            (submit)="onSubmit()"
            (keyup.enter)="onSubmit()"
          >
            <ion-item>
              <ion-icon
                slot="start"
                name="at"
                color="primary"
              ></ion-icon>
              <ion-label position="floating" color="primary">Email</ion-label>
              <ion-input
                type="email"
                inputmode="email"
                color="primary"
                formControlName="email"
                autoFocus="true"
              ></ion-input>
              <ion-note
                slot="end"
                color="danger"
                *ngIf="email.dirty && email.hasError('required')"
              >
                Email Obrigatório!
              </ion-note>
              <ion-note
                slot="end"
                color="danger"
                *ngIf="email.dirty && email.hasError('email')"
              >
                Email inválido!
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-icon
                slot="start"
                name="lock"
                color="primary"
              ></ion-icon>
              <ion-label position="floating" color="primary">Senha</ion-label>
              <ion-input
                type="password"
                color="primary"
                formControlName="senha"
              ></ion-input>
              <ion-note
                slot="end"
                color="danger"
                *ngIf="senha.dirty && senha.hasError('required')"
              >
                Senha Obrigatória!
              </ion-note>
              <ion-note
                slot="end"
                color="danger"
                *ngIf="senha.dirty && senha.hasError('minlength')"
              >
                Mínimo 6 caracteres
              </ion-note>
            </ion-item>
            <ion-button
              expand="block"
              [disabled]="loginForm.invalid"
              type="submit"
              id="login-button"
            >
              Login
            </ion-button>

            <h5 text-center>
            <a style="cursor: pointer;" (click)="openModal()">Recuperar senha?</a>
            </h5>

          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
