<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/LicencaAmbiental"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <!-- <app-logout-button slot="end" menu="main-menu"></app-logout-button> -->
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="licencaAmbientalForm" (submit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="floating" color="primary">Cliente</ion-label>
      <ion-select interface="popover" #selectCliente formControlName="idCliente">
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-note
      slot="start"
      color="danger"
      *ngIf="idCliente.hasError('required')"
    >
      Cliente Obrigatório!
    </ion-note>
    <ion-item>
      <ion-label position="floating" color="primary">Descrição</ion-label>
      <ion-input
        formControlName="descricao"
        type="text"
        color="primary"
        autoFocus="true"
      ></ion-input>
      <ion-note slot="end" color="danger" *ngIf="descricao.dirty && descricao.hasError('required')">
        Descrição Obrigatória!
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="descricao.dirty && descricao.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Vencimento</ion-label>
      <ion-input
        type="date"
        placeholder="Vencimento"
        color="primary"
        formControlName="dataDeVencimento"
      ></ion-input>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="dataDeVencimento.dirty && dataDeVencimento.hasError('required')"
      >
        Vencimento Obrigatório!
      </ion-note>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="
          dataDeVencimento.dirty &&
          (dataDeVencimento.hasError('minlength') || dataDeVencimento.hasError('maxlength'))
        "
      >
        Vencimento inválido!
      </ion-note>
    </ion-item>
    <!-- inicio arquivo -->
    <ion-card
      text-center
      *ngIf="!isUploading2 && !isUploaded2"
    >
      <ion-card-header>
        <ion-card-title style="font-size: 20px;">Adicione um Arquivo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="fileUpload">
          <label for="uploadBtn2">Adicionar</label>
          <input
            id="uploadBtn2"
            type="file"
            class="upload"
            (change)="uploadFile2($event.target.files)"
          >
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card
      text-center
      *ngIf="isUploading2 && !isUploaded2"
    >
      <ion-card-header>
        <ion-card-title style="font-size: 15px;">
          Arquivo selecionado:
          <b>{{ fileName2 }}</b>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <!-- fim arquivo -->
    <ion-button expand="full" type="submit" *ngIf="licencaAmbientalForm.valid && liberaArquivo">
      {{ botaoTitle }}
    </ion-button>
    <ion-button
      expand="full"
      [disabled]="true"
      *ngIf="
        (!licencaAmbientalForm.valid && !liberaArquivo) ||
        (!licencaAmbientalForm.valid && liberaArquivo) ||
        (licencaAmbientalForm.valid && !liberaArquivo)
      "
    >
      {{ botaoTitle }}
    </ion-button>
  </form>
</ion-content>
